<html>
<head>
</head>
<body>
    <div>
       
        <ul>
            <li><a href="/home">back</a></li>
        </ul>
        <ul>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </div>
    <p>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
    </p>
    <h1>Create Recipie Ingredient</h1>
<form action="/create-ingredient" method="POST">
    <input type="number" name="recipie_id" placeholder="Recipie Id" required/></br></br>
    <input type="text" name = "ingredient_name" placeholder="Ingredient Name" required/> </br></br>
    <input type="text" name = "ingredient_purchase_link" placeholder="Ingredient Purchase link"/> </br></br>
    <input type="text" name = "unit_name" placeholder="Unit Name" required/> </br></br>

    <input type="number" name = "unit_amount" placeholder="Amount" required/></br></br>


	<input type="submit" value = "Post" />
	{% if error %}
		<p class="error"><strong>Error:</strong> {{error}}</p>
	{% endif %}
</form>



</body>


</html>
