<html>
<head>
</head>
<body>
    <div>
       
        <ul>
            <li><a href="/home">back</a></li>
        </ul>
        <ul>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </div>
    <p>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
    </p>
    <h1>Create Step for a recipie</h1>
<form action="/create-step" method="POST" >
	<input type="number" name="recipie_id" placeholder="Recipie Id" required/></br></br>
    <input type="number" name = "step_num" placeholder="Step Number" required/></br></br>
    <textarea name="step_description" id="" cols="30" rows="10" placeholder="Step Description"></textarea></br></br>
	<input type="submit" value = "Post" />
	{% if error %}
		<p class="error"><strong>Error:</strong> {{error}}</p>
	{% endif %}
</form>



</body>


</html>