<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
    </p>
    <h3>All Your RSVP Events</h3>
    
        {% for event in events %}
        <div style="border:1px solid black;">
            <h2>

              {{event.eName}}

            </h2>
            
            <p> <h4> {{event.eDesc}} </h4> </p> 
            <p>Date: {{(event.eDate).strftime("%m/%d/%y")}}</p>
        </div>
        {% endfor %}
   
</body>
</html>